<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-title" content="和风天气官网">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    {% seo %}
    <link rel="stylesheet" href="/assets/style.css" />
    {% assign favcode = page.name %}
    {% case favcode %}
    {% when "svg.md" %}
    {% include svg-head.html %}
    {% when "simple.md" %}
    {% include simple-head.html %}
    {% else %}
    {% include all-head.html %}
    {% endcase %}
</head>

<body>
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    <div class="content">
        {{ content }}
    </div>
    <footer class="footer">
        2020 &copy; qweather.com
    </footer>
</body>

</html>