body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

h1 {
    font-size: 32px;
}

h2 { 
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

a {
    color:#007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sitename {
    margin: 10px 0;
    text-align: center;
}

.sitename a {
    color: #333;
    text-decoration: none;
}

.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
}

.navbar {
    /* min-height: 30px; */
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    font-size: 16px;
}

.navlist {
    list-style: none;
    /* float: left; */
    /* display: block; */
    margin: 0 auto;
}

.navlist > li {

    float: left;
    margin: 0 auto;
    padding: 10px;
}

.footer {
    background-color: #1D1D1E;
    color: #c0c0c0;
    font-size: 12px;
    padding: 10px 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    position: absolute;
}

.footer a {
    color: #fff;
}