
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

h1 {
    font-size: 24px;
}

h2 { 
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

a {
    color:#007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sitename {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sitename a {
    color: #333;
    text-decoration: none;
}

.container {
    padding: 0 15px;
    margin:0 auto;
    max-width: 680px;
}

.navbar {
    /* padding: 10px; */
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    border-bottom: 1px #ddd solid;
}

.navbar a {
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
}

.active {
    /* font-weight: bold; */
    background-color: #007bff;
    color: #fff;
}

.content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 40px;
}


.copyright {
    background-color: #e9f3f9;
    color: #333;
    font-size: 12px;
    padding: 10px 15px;
    display: inline-block;
}

.copyright a {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    color: #000;
    margin: 0 1px;
    padding: 2px 4px;
    border-radius: 4px;
}